body {
  /* border: 2px solid rgb(250, 198, 119); */
  height: 100vh;
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgb(0, 29, 92) 25.1%, rgb(0, 65, 119) 30%, rgb(82, 186, 255) 100%);
}

#welcome {
  padding-top: 5em;
  padding-bottom: 1vh;
  text-align: center;
  font-size: 3em;
  color: white;
}

input {
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
  border: 0px;
  margin-top: 1em;
  margin-left: 5vw;
  width: 90vw;
  height: 3em;
  text-align: center;
  box-shadow: inset 0px 0px 5px rgb(68, 90, 189);
  caret-color: white;
  color: white;
}

#signin {
  margin-left: 27.5vw;
  margin-top: 2em;
  width: 20vw;
  height: 3em;
}

#switch {
  margin-left: 5vw;
  width: 20vw;
  height: 3em;
}
