<meta name="viewport" content="width=device-width,initial-scale=1">

<div>
  <h1 id="welcome">Welcome to DeepDive</h1>
</div>
<button class="button" routerLink="../Scanner">Scanner</button>
<button class="button" routerLink="../QR Code">Barcode</button>
<!-- <button class="button" routerLink="../Rating">Rating</button> -->
<button class="button" routerLink="../Rating">Points</button>
<!-- <button class="button" routerLink="../Role Power">Role Power</button> -->
<!-- <button class="button"  (click)="test()">Role Power</button> -->
<button class="button" (click)="logout()">Log out</button>
