#welcome {
  background: rgb(169, 212, 255);
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
}

* {
  font-family: 'Helvetica';
}

.button {
  margin-left: 10vw;
  margin-top: 2vh;
  width: 80vw;
  height: 15.5vh;
  background-color: rgba(81, 211, 255, 0.432);
  font-weight: bold;
  border-radius: 10px;
  border: 0px;
  font-size: large;
}

@media only screen and (max-width: 480px) {

  .button {
    margin-top: 2vh;
    height: 14.5vh;
  }
}
