/* * {

} */

body {
  /* margin: 0;
  padding: 0; */
  width: 100vw;
  height: 100vh;
  background: rgb(255, 0, 200);
}

#welcome {
  background: rgb(0, 255, 21);
  padding-top: 8vh;
  text-align: center;
}

.button {
  margin-left: 10vw;
  margin-top: 4vh;
  width: 80vw;
  height: 15vh;
}
