/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Helvetica;
  src: url(Helvetica.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}

body {
  /* width: 100vw;
  height: 100vh; */
  background: rgb(156, 70, 152);
}
